@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

* {
    background-color: #EFF1F7;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'PT Sans', sans-serif;
}

body {
    height: 100vh;
}

#root {
    height: 100%;
}